.dog-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .dog-pics img {
    width: 500px;
    height:400px;
    object-fit: contain;
  }